.admin__tables {
  margin: 80px 2em 2em 2em;
  padding: 2em;

  h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: $font-color1;
    margin-top: 0.3em;
  }

  h1::after {
    content: "|";
    font-weight: lighter;
    padding-left: 0.5em;
  }
  h2 {
    font-weight: 500;
    font-size: 1.2em;
    color: $font-color1;
  }
  h3 {
    font-weight: 500;
    font-size: 1em;
    color: $font-color1;
  }
  h4 {
    font-weight: 500;
    font-size: 1.2em;
    padding-bottom: 0.5em;
    color: $font-color1;
    margin-top: 0.3em;
  }
  &__text {
    display: flex;
    align-items: center;
    padding-bottom: 1em;

    a {
      text-decoration: none;
    }

    button {
      @extend %boxShadowSection;
      @extend %buttonStyles;
    }
  }

  table {
    // border-collapse: collapse;
    width: 100%;
    font-size: 0.7em;
    @extend %boxShadowSection;
    border-radius: 15px;
    padding: 4em 4em;

    th,
    td {
      font-weight: 400;
      color: $font-color1;
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
    }

    td {
      max-height: 50px;

      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        max-width: unset;
      }
    }
  }
  .active-orders {
    margin-bottom: 2em;
    &__filter {
      display: grid;
      grid-template-columns: 1fr 20%;
      grid-row-gap: 20px;
      margin: 20px 0;
      input {
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 6px;
        border: 0;
        padding: 10px;
      }
    }
  }
  .completed-orders {
    &__filter {
      display: grid;
      grid-row-gap: 20px;
      margin-bottom: 20px;
      input {
        border-radius: 6px;
        border: 0;
        padding: 10px;
      }
    }
  }
}
