.main__admin__dashboard {
  margin: 80px 2em 2em 2em;
  padding: 2em;
  display: grid;
  gap: 1em;
  grid-template: auto auto auto / 1fr 1fr 1fr;

  h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: $font-color1;
    margin-top: 0.3em;
  }

  h1::after {
    content: "|";
    font-weight: lighter;
    padding-left: 0.5em;
  }

  .dashboard__box {
    background: rgb(182, 226, 229);
    background: linear-gradient(
      180deg,
      rgba(182, 226, 229, 0.705) 0%,
      rgba(118, 180, 184, 0.753) 100%
    );
    height: 14em;
    max-width: 100%;
    grid-row: 2;
    padding: 2em;
    border-radius: 5px;
    @extend %boxShadowSection;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    &:nth-of-type(2) {
      background: rgb(255, 199, 158);
      background: linear-gradient(
        180deg,
        rgba(255, 199, 158, 1) 0%,
        rgba(252, 150, 106, 0.829) 100%
      );
    }
    &:nth-of-type(3) {
      background: rgb(208, 193, 227);
      background: linear-gradient(
        180deg,
        rgba(208, 193, 227, 0.753) 0%,
        rgba(170, 143, 204, 0.644) 100%
      );
    }

    h2 {
      font-size: 3.7em;
      font-weight: 400;
      color: #ffffff;
      text-decoration: none;
    }

    h3 {
      font-weight: 500;
      font-size: 1.3em;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}

.active-orders {
  grid-row: 3;
  grid-column: 1/4;
  justify-self: center;
  width: 100%;
}
