%boxShadowSection {
  background: white;
  padding: 1em;
  box-shadow: 4px 4px 5px rgba(226, 226, 226, 0.233);
}

%asideGridContainer {
  display: grid;
  grid-template: auto / 30px 1fr 30px;
  align-items: center;
  padding: 0.5em 0;
}

%inputStyles {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: rgb(242, 242, 242);
  padding: 0.5em 1em;
}
