.admin__header {
  width: 100vw;
  color: #ffffff;

  nav {
    display: flex;
    width: 100%;
    align-items: center;
    @extend %boxShadowSection;
    background-color: $primary-color1;
    position: fixed;
    top: 0;
    border-radius: 0 0 5px 5px;
    height: 70px;
    z-index: 10;
  }

  a {
    margin-right: auto;
    margin-left: 1em;
    text-decoration: none;
    color: #afb7c2;
    font-weight: 500;
  }

  &__login {
    display: grid;
    grid-template: 1fr / 1fr 0.5fr;
    align-items: center;
    margin-right: 2em;

    &__text {
      text-align: center;
      margin-right: 1em;

      h5,
      p {
        margin: 0;
      }

      p {
        font-size: 0.6em;
        color: green;
      }

      h5 {
        font-weight: 500;
      }
    }

    &__img {
      //max-width: 35px;

      display: flex;
      align-items: center;

      i {
        font-size: 30px;
      }
    }
  }
}

.siteWrapper {
  // position: relative;
  display: grid;
  grid-template: 1fr auto / auto 1fr;
}
