.admin__header {
  width: 100vw;
  color: rgb(97, 97, 97);

  nav {
    display: flex;
    width: 100%;
    align-items: center;
    @extend %boxShadowSection;
    position: fixed;
    top: 0;
    border-radius: 0 0 5px 5px;
    height: 70px;
    z-index: 10;
  }

  a {
    margin-right: auto;
    margin-left: 1em;
    text-decoration: none;
    color: rgb(97, 96, 96);
    font-weight: 500;
  }

  &__login {
    display: grid;
    grid-template: 1fr / 1fr 0.5fr;
    align-items: center;
    margin-right: 2em;

    &__text {
      text-align: center;
      margin-right: 1em;

      h5,
      p {
        margin: 0;
      }

      p {
        font-size: 0.6em;
      }

      h5 {
        font-weight: 500;
      }
    }

    &__img {
      max-width: 35px;
      display: flex;
      align-items: center;

      img {
        width: 100%;
      }
    }

  }



}

.siteWrapper {
  // position: relative;
  display: grid;
  grid-template: 1fr auto / auto 1fr;
}