.new__product__section {
  margin: 80px 2em 2em 2em;
  padding: 2em;

  h1 {
    font-weight: 500;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    color: gray;
    margin-top: 0.3em;
    // padding-left: 1em;
  }

  h1::after {
    content: "|";
    font-weight: lighter;
    padding-left: 0.5em;
  }
}

.form {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  &__group {
    display: flex;
    padding: 3em;
    //width: 80%;
    // min-height: 300px;
    border-radius: 10px;
    // margin: auto;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    margin-bottom: 20px;
    @extend %boxShadowSection;
    gap: 1em;

    label {
      font-size: 14px;
    }
  }

  .descrip {
    grid-row: span 2;

    textarea {
      height: 150px;
      @extend %inputStyles;
    }
  }

  // .category__select__wrapper {
  //   width: 100%;

  //   select[option] {
  //     width: 200px;
  //     padding: 0.5em 1em;
  //   }

  // }

  &__input {
    display: block;
    @extend %inputStyles;
  }

  &__image-section {
    display: flex;
    flex-direction: column;
    //width: 80%;
    border-radius: 10px;
    @extend %boxShadowSection;

    &__create {
      display: flex;
      justify-content: space-between;
    }

    &__images {
      display: flex;
    }

    button {
      @extend %boxShadowSection;
      @extend %buttonStyles;
      cursor: pointer;

      i {
        margin-left: 0.5em;
      }

      &:hover {
        transition: ease-in 250ms;
        transform: scale(1.025);
      }
    }
  }
}

.upload-form {
  position: absolute;
  right: calc(50vw - 205px);
  top: calc(50vh - 125px);
  display: grid;
  grid-template: auto 1fr 1fr / 1fr 1fr 1fr;
  /* set these so Chrome doesn't return 'auto' from getComputedStyle */
  width: 335px;
  height: 250px;
  background: rgba(255, 255, 255, 0.988);
  // border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  // padding: 1.5em;
  @extend %boxShadowSection;

  .cancel-upload {
    font-weight: 900;
    border: none;
    color: red;
    background: none;
    cursor: pointer;
    font-size: 25px;
  }

  &__border {
    background-color: white;
    display: flex;
    grid-column: span 3;
    width: 300px;
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.345);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(191, 191, 191);
    margin-bottom: 1em;
  }

  .upload-btn {
    @extend %boxShadowSection;
    @extend %buttonStyles;
    // margin: auto;

    &:hover {
      transition: ease-in 250ms;
      transform: scale(1.02);
      text-shadow: white;
    }
  }
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  opacity: 0;
}

input[type="checkbox"] + img {
  cursor: pointer;
  height: 150px;
  width: 150px;
}

/* CHECKED STYLES */
input[type="checkbox"]:checked + img {
  outline: 5px solid $secondary-color;
}

.add-product-btn {
  grid-row: 3;
  @extend %buttonStyles;
  justify-self: flex-end;
  margin: 2em;
  &:hover {
    transition: ease-in 250ms;
    transform: scale(1.025);
  }
}

.form__image-section__selection {
  padding-bottom: 0.5em;

  &__image {
    margin-bottom: 2em;
  }
}

select {
  max-height: 35px;
  align-self: flex-end;
}
