$base-color: rgb(243, 243, 243); //body
//$detail-color: #9ab9bb;buttons
$primary-color1: #91a3a1; // #afcac7; //#8ab8b2 matildas green //top nav bar
$primary-color2: #ffffff; //side navigation
$secondary-color: #7d9aaf; //buttons
$font-color1: gray; //main font color
$font-color2: #7e7f81; //font color sidebar #9da9b8
$active-font-color: #494949; // sidebar font

/* Lovas

$base-color: rgb(243, 243, 243); //body
//$detail-color: #9ab9bb;buttons
$primary-color1: #414a55; //top nav bar
$primary-color2: #656e7a; //side navigation
$secondary-color: #8478a6; //buttons
$font-color1: gray; //main font color
$font-color2: #9aa6b6; //font color sidebar #9da9b8
$active-font-color: #fbfbfb; // sidebar
 */
