.cart {
  max-height: calc(100vh - 70px);
  height: 100%;
  overflow-y: scroll;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  top: 70px;
  right: 0;
  z-index: 3;
  padding: 10px;
  padding-bottom: 0;
  box-shadow: 1px 1px 2px rgb(184, 184, 184);
  border-radius: 0 0 0 10px;
  min-height: calc(100vh - 70px);

  @media (min-width: 420px) {
    min-height: unset;
    overflow-x: hidden;
    width: 350px;
    max-height: calc(100vh - 70px);
    height: fit-content;
    // padding-bottom: 2em;
  }

  &__product-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    margin-bottom: 2em;
    overflow-y: scroll;
    height: 100vh;
    -webkit-overflow-scrolling: touch;

    @media (min-width: 450px) {
      overflow-y: unset;
      height: unset;
      -webkit-overflow-scrolling: unset;
      padding-bottom: 8em;
      margin-bottom: unset;
    }
  }
  &__total-checkout {
    position: sticky;
    bottom: 0;
    width: auto;
    height: auto;
    background: #54626a;
    // padding: 2em 1em;
    padding: 0.5em 1em 4em 1em;
    margin: -10px;
    // margin-top: 1em;
    border-top: 0.5px solid rgb(191, 191, 191);
    // padding-bottom: 2em;

    .priceHeadline,
    .totalSum {
      color: white;
      font-size: 20px;
    }

    .priceHeadline {
      font-weight: 900;
    }

    @media (min-width: 450px) {
      padding-bottom: 2em;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    position: sticky;
    top: 0;

    @media (min-width: 420px) {
      justify-content: flex-end;
    }

    button {
      box-shadow: 0px 2px 5px rgb(106, 106, 106);
      border: none;
      border-radius: 5px;
      background-color: #54626a;
      font-size: 9px;
      padding: 0.5em 1em;
      margin-left: 10px;
      margin-right: 10px;
      color: white;
      cursor: pointer;

      &:hover {
        // background-color: rgb(0, 0, 0);
        // color: white;

        transition: ease-in 250ms;
        transform: scale(1.025);
        // font-weight: bold;
      }

      @media (min-width: 420px) {
        font-size: 12px;
      }
    }
    button:nth-child(1) {
      background: #ff4343;
    }
  }
  &__total {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: larger;
    width: 95%;
  }
  &__checkout {
    margin: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin-bottom: 20px;
    // height: 4em;
    width: 80%;
    padding: 1em 0;
    font-size: 15px;
    background: rgb(103, 136, 103);
    border-radius: 10px;
    font-weight: bolder;
    border: none;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    &:hover {
      transition: ease 250ms;
      transform: scale(1.05);
      // background-color: rgb(0, 0, 0);
      // color: white;
      font-weight: bold;
    }
    /* display: flex; */
    a {
      font-size: 15px;
      /* text-align: center;
      margin: auto;*/

      color: white;
      // height: 100%;
      // width: 100%;
      // padding-top: 1em;
      // &:hover {
      //   color: white;
      // }
    }
  }
  &__product {
    box-shadow: 0px 2px 5px rgb(124, 124, 124);
    border-radius: 6px;
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    font-size: 14px;
    color: #333b40;
    text-shadow: none;
    align-items: center;
    min-height: 120px;

    &:last-child {
      margin-bottom: 2em;
    }
    &__image-wrapper {
      height: 120px;
      width: 120px;
      padding: 15px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    &__info {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin: auto;
      &__btns {
        touch-action: manipulation;
        display: flex;
        justify-content: space-evenly;
        width: 80%;
        align-items: center;
        &__qty {
          margin-top: 3px;
          justify-self: center;
          height: 20px;
          width: 40px;
          font-size: 12px;
          background-color: white;
          text-align: center;
          border-radius: 7px;
          border: 1px solid rgb(216, 216, 216);
          box-shadow: inset;
          padding-bottom: 4px;

          -moz-appearance: textfield;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      &__price {
        .price {
          font-size: 15px;
          &__line-through {
            font-size: 12px;
            text-decoration: line-through;
          }
          &__discount {
            font-size: 15px;
            color: red;
          }
        }
      }
    }
  }
}
.changeQty {
  cursor: pointer;
}
.delete-product {
  cursor: pointer;
}

.noScroll {
  @media (max-width: 450px) {
    position: fixed;
    overflow-y: hidden;
    height: 100vh;
    width: 100%;
    padding-right: 15px;
  }
}

button > * {
  pointer-events: none;
}
