.categories-menu {
  max-inline-size: 20vw;
  background-color: rgb(202, 202, 202);
  &__container {
    margin: 2em 0;
    padding-left: 1em;
  }
  ul,
  li {
    list-style: none;
    padding: 0;
    a {
      text-decoration: none;
      width: 100%;
      display: block;
      &:hover {
        background-color: rgb(212, 212, 212);
      }
      &:visited {
        color: black;
      }
    }
    li {
      margin: 0.5em 0;
    }
  }
}
