.main-checkout {
  margin-top: 100px;
  width: 100vw;
  padding-left: 20%;
  padding-right: 20%;
  h1,
  h3 {
    text-align: center;
  }
}

.order-summary {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  &__table {
    font-size: 18px;
    width: 100%;
    border-color: black;
    th {
      text-align: left;
    }
    thead {
      border-bottom: solid black 1px;
    }
    &__img {
      object-fit: cover;
      height: 40px;
      width: 40px;
    }
    &__qty-input {
      -moz-appearance: textfield;
      max-width: 50px;
      background-color: transparent;
      border: 0px solid;
      border-radius: 25%;
      box-shadow: none;
      /* text-align: center; */
    }

    &__btn {
      border-radius: 50%;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }

    &__qty {
      width: 150px;
    }
    &__price {
      width: 100px;
      text-align: right;
    }
  }
  &__totalcontainer {
    display: flex;
    justify-content: flex-end;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
