.img-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.new-in {
  // z-index: 2;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__msg {
    position: absolute;
    top: 1em;
    right: 0;
    font-size: 15px;
    max-width: 8em;
    font-weight: bold;
    background: #54626acb;
    color: white;
    font-weight: 700;
    border: 0.5px white;
    padding: 0.5em 1em;
    text-shadow: unset;
  }
}
.out-of-stock {
  // background: #4133335d;
  // z-index: 2;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__msg {
    position: absolute;
    top: 1em;
    right: 0;
    font-size: 15px;
    max-width: 8em;
    font-weight: bold;
    background: rgba(250, 59, 59, 0.735);
    color: white;
    font-weight: 700;
    border: 0.5px white;
    padding: 0.5em 1em;
    text-shadow: unset;
    // border-radius: 10px 0 0 10px;

    // @media (min-width: 500px) {
    //   font-size: 15px;
    // }

    // @media (min-width: 920px) {
    //   font-size: 2.5vw;
    // }

    @media (min-width: 1013px) {
      top: 1em;
      // font-size: 15px;
    }
  }
}

.product-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 1em 1em 2em 1em;
  gap: 1em;

  justify-self: center;

  @media (min-width: 750px) {
    margin: 8%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75% 25%;
    gap: 2em;
  }
  @media (min-width: 1013px) {
    margin: 5em;
    max-width: 60vw;
    grid-template-rows: 70% 30%;
    max-height: 1000px;
  }
  @media (min-width: 750px) and (min-height: 1000px) {
    grid-template-rows: 60% 40%;
  }

  &__images {
    display: grid;

    gap: 1em;
    max-height: 100vh;

    @media (min-width: 750px) {
      grid-template-rows: 70% 10vh;
      gap: 2em;
    }
    @media (min-width: 750px) and (min-height: 1000px) {
      grid-template-rows: 70% 7vh;
    }

    &__big {
      width: 100%;
      height: 100%;
      max-height: 500px;
      object-fit: contain;
      @media (min-width: 750px) {
        grid-area: 1;
      }
    }

    &__small-container {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;

      i {
        font-size: 20px;
        align-self: center;
        color: #54626a;

        @media (min-width: 750px) {
          font-size: 30px;
        }

        @media (min-width: 1013px) {
          font-size: 30px;
        }

        :hover {
          cursor: pointer;
        }
      }

      &__img-container {
        display: flex;
        flex-direction: row;
        grid-area: 2;
        max-height: 100%;
        justify-content: space-between;

        .img-wrapper {
          width: 8vw;
          height: 8vw;
          margin: 2px;

          @media (min-width: 750px) {
            height: 9vw;
            width: 9vw;
            margin: 12px;
          }
          @media (min-width: 1013px) {
            /*  width: 5vw;
            height: 10vh; */
            height: 5vw;
            width: 5vw;
          }

          :hover {
            cursor: pointer;
          }
        }

        &__img {
          height: 8vw;
          width: 8vw;

          @media (min-width: 750px) {
            height: 9vw;
            width: 9vw;
          }

          @media (min-width: 1013px) {
            /*  height: 10vh;
            width: 5vw; */

            height: 100%;
            width: 6.5vw;
          }
        }
      }
    }
  }

  &__rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #32393e;

    &__info {
      line-height: 1;
      .in-store {
        font-size: 15px;
        color: green;
        font-weight: 900;
      }
      .few-in-store {
        font-size: 15px;
        color: red;
        font-weight: 900;
      }
      .product-section__rigth__info__name {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.2;
        word-break: break-word;

        @media (min-width: 750px) {
          font-size: 35px;
        }
      }

      .product-section__right__info__categories {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 25px;
      }

      &__price {
        font-weight: 500;
        font-size: 35px;
        margin-bottom: 25px;
        .original-price {
          text-decoration: line-through;
        }
        .discount {
          color: red;
        }
      }
    }

    &__actions {
      &__amount {
        display: flex;
        align-items: center;

        @media (min-width: 750px) {
          margin-bottom: 150px;
        }
        @media (min-width: 1013px) {
          // width: 50%;
          margin-bottom: 140px;
        }

        &__lable {
          display: block;

          @media (max-width: 700px) {
            padding-top: 0.5em;
          }
        }

        &__qty-container {
          display: flex;
          align-items: center;
          height: 100%;

          div {
            display: flex;
          }

          div:nth-child(2) {
            height: 100%;
            align-items: center;
            margin-left: 0.5em;
          }

          &__input {
            -moz-appearance: textfield;
            width: 120px;
            height: 35px;
            border-radius: 6px;
            border: 1px solid rgb(160, 160, 160);
            padding-left: 0.5em;
            font-size: 14px;
            margin-top: auto;
            margin-bottom: 3px;
            margin-right: 0.5em;
            box-shadow: 1px 1px 3px rgb(96, 96, 96);

            @media (min-width: 1000px) {
              margin-top: unset;
              margin-bottom: unset;
            }
          }

          input[type="number"]::-webkit-inner-spin-button,
          input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          &__qtyBtn-product-page {
            padding: 0;
            color: #54626a;
            margin: 1px;
            border: none;
            background: none;
            cursor: pointer;

            div:nth-child(1) {
              margin-right: 0.5em;
            }

            .fa-minus-circle {
              margin-right: 0.1em;
              cursor: pointer;
              &:hover {
                color: rgb(250, 84, 84);
              }
            }
            .fa-plus-circle {
              cursor: pointer;
              &:hover {
                color: rgb(22, 136, 22);
              }
            }

            i {
              cursor: pointer;
              font-size: 30px;
              padding: 0;
              color: #54626a;
              // margin: 1px;
            }
          }
        }
      }

      .add-to-cart-btn {
        max-width: 200px;
        width: 100%;
        padding: 1em;
        display: flex;
        font-size: 18px;
        font-weight: 900;
        color: white;
        justify-content: center;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 20px;
        border: none;
        border-radius: 10px;
        background: rgb(103, 136, 103);
        box-shadow: 1px 1px 3px rgb(96, 96, 96);
        cursor: pointer;
        align-items: center;

        @media (min-width: 750px) {
          margin-bottom: 150px;
        }
        @media (min-width: 1013px) {
          // width: 70%;
          margin-bottom: 140px;
        }

        .fa-cart-plus {
          font-size: 20px;
          // margin-top: 3px;
          margin-left: 0.5em;

          @media (min-width: 700px) {
            margin-left: unset;
          }
        }

        &:hover {
          transition: ease-in 250ms;
          transform: scale(1.025);
        }
      }
    }
  }

  &__description {
    color: #32393e;
    padding-top: 2em;
    border-top: 0.2px solid #c6c6c6;
    @media (min-width: 750px) {
      grid-area: 2 / 1 / 3 / 3;
    }

    p {
      font-size: 12px;
      @media (min-width: 750px) {
        font-size: 16px;
      }
    }
  }

  .hidden {
    display: none;
  }
}

.elementToFadeInAndOut {
  animation: fadeInOut 250ms linear forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
