@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,100&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin and add font*/
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.admin__header {
  width: 100vw;
  color: white;
}

.admin__header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #999;
  padding: 0.5em;
}

.admin__header a {
  margin-right: auto;
  margin-left: 2em;
  text-decoration: none;
  color: white;
}

.admin__header__login {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 0.5fr;
      grid-template: 1fr / 1fr 0.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2em;
}

.admin__header__login__text {
  text-align: center;
  margin-right: 0.5em;
}

.admin__header__login__text h5,
.admin__header__login__text p {
  margin: 0;
}

.admin__header__login__text p {
  font-size: 0.5em;
}

.admin__header__login__img {
  max-width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin__header__login__img img {
  width: 100%;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 20vw;
  background: #e9e9e9;
}

.aside a {
  color: black;
  text-decoration: none;
}

.aside__nav__ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

img {
  max-height: 50px;
}

.hidden {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: #999;
  padding: 0.5em;
}

footer h4 {
  text-align: center;
  color: white;
}
/*# sourceMappingURL=style.css.map */